{%extends 'myapp/base.html' %}
{% block body %}
<div class="m-10 flex">
    <div>
        <img class="w-64 rounded-lg" src="{{ item.item_image }}" alt="{{ item.item_name }}">
    </div>
    <div class="mx-20 space-y-4">
        <div class="text-4xl font-bold">{{ item.item_name }}</div>
        <div class = "text-blue-500 font-bold text-2xl">${{ item.item_price|floatformat:2 }}</div>
       
       ' <div>{{ item.item_desc }}</div>
        
       
       {% if item.user_name == request.user%}
       <a class="bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-lg mr-5" href="{% url 'myapp:update_item' item.id %}">
          Edit
       </a>
       {%endif%}
        <a class="bg-rose-600 hover:bg-rose-700 text-white font-semibold py-2 px-4 rounded-lg" href="{% url 'myapp:delete_item' item.id %}">
            Delete
        </a>
    </div>
</div>


{% endblock %}
<!-- 
<h1>{{item.item_name}}</h1>
<h1>{{item.item_price}}</h1>
<h1>{{item.item_desc}}</h1> -->