{% extends 'myapp/base.html' %}

{% block body %}

<div class="flex flex-col justify-center items-center min-h-screen">

    <h1>Login</h1>

    {% if form.errors %}
        <div class="bg-red-500 text-white px-4 py-2 mb-4">
            Please enter a correct username and password.
            Note that both fields may be case-sensitive.
        </div>
    {% endif %}

    <form method="POST" class="shadow-lg p-10 space-y-4">

        {% csrf_token %}

        <div>
            <label>Username</label>
            <div class="border rounded p-2">
                {{ form.username }}
            </div>
        </div>

        <div>
            <label>Password</label>
            <div class="border rounded p-2">
                {{ form.password }}
            </div>
        </div>

        <button type="submit"
                class="bg-blue-500 px-2 py-2 w-full">
            Login
        </button>

    </form>

</div>

{% endblock %}